/* Your Code Goes Here */
html {
  background-color: #FFFFFF;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
}
h4 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.nav-container .navigation {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #828282;
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}
.nav-container .navigation .logo {
  font-weight: 600;
  font-size: 3rem;
  color: #FFFFFF;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.nav-container .navigation .nav-menu {
  display: none;
}
.jumbo-div {
  margin-bottom: 50px;
}
.jumbo-div .desktop {
  display: block;
}
.jumbo-div .mobile {
  display: none;
}
@media (max-width: 500px) {
  .jumbo-div .desktop {
    display: none;
  }
  .jumbo-div .mobile {
    display: block;
  }
}
.jumbo-div img {
  width: 100%;
  height: auto;
}
.jumbo-div .jumbotron {
  position: relative;
}
.jumbo-div h1 {
  position: absolute;
  bottom: 20px;
  left: 13%;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
.smith {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
@media (max-width: 500px) {
  .smith {
    display: flex;
    flex-direction: column;
  }
}
.smith .smith-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .smith .smith-text {
    order: 1;
  }
}
.smith .smith-text p {
  margin: 0 10px;
}
.smith .smith-text .btn {
  border: 1px solid #222222;
  padding: 15px 100px;
  width: 93px;
  height: 43px;
}
@media (max-width: 500px) {
  .smith .smith-text .btn {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .intro-img img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.intro-img .mobile {
  display: none;
}
@media (max-width: 500px) {
  .intro-img .mobile {
    display: block;
  }
}
.intro-img .desktop {
  display: block;
}
@media (max-width: 500px) {
  .intro-img .desktop {
    display: none;
  }
}
.future {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
@media (max-width: 500px) {
  .future {
    display: flex;
    flex-direction: column;
  }
}
.future .future-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  order: 1;
}
@media (max-width: 500px) {
  .future .future-text {
    order: 1;
    padding-left: initial;
  }
}
.future .future-text .btn {
  border: 1px solid #222222;
  padding: 15px 100px;
  width: 93px;
  height: 43px;
}
@media (max-width: 500px) {
  .future .future-text .btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .design-img img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
.design-img .mobile {
  display: none;
}
@media (max-width: 500px) {
  .design-img .mobile {
    display: block;
  }
}
.design-img .desktop {
  display: block;
}
@media (max-width: 500px) {
  .design-img .desktop {
    display: none;
  }
}
.recent {
  padding: 0 5%;
}
.recent .project-item .project-header {
  position: relative;
  margin-bottom: 80px;
}
.recent .project-item .project-header img {
  width: 100%;
}
.recent .project-item .project-header h3 {
  position: absolute;
  background: #828282;
  padding: 25px 50px;
  border: 1px solid #FFFFFF;
  display: inline-block;
}
.recent .project-item .project-header .desktop {
  display: block;
}
@media (max-width: 500px) {
  .recent .project-item .project-header .desktop {
    display: none;
  }
}
.recent .project-item .project-header .mobile {
  display: none;
}
@media (max-width: 500px) {
  .recent .project-item .project-header .mobile {
    display: block;
  }
}
.recent .project-item .villas h3 {
  right: 0;
  bottom: -50px;
}
.recent .project-item .outskirts h3 {
  left: 0;
  bottom: -50px;
}
.recent .project-item .blocks h3 {
  right: 0;
  bottom: -50px;
}
.recent .project-item .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent .project-item .bottom-text p {
  width: 400px;
}
.footer-container {
  background: #828282;
  padding-top: 70px;
}
.footer-container .footer {
  padding: 0 5%;
}
.footer-container .footer .footer-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .footer-container .footer .footer-top {
    flex-direction: column;
  }
}
.footer-container .footer .footer-top .interested input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.footer-container .footer .footer-top .interested h4 {
  color: #FFFFFF;
}
.footer-container .footer .footer-top p {
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: lighter;
}
.footer-container .footer .copyright {
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .footer-container .footer .copyright {
    text-align: left;
  }
}
